{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}

<div class="content">
    <h1 style="text-align: center">Daily TaskMaster</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Please create one below.</h4>
    {% else %}
    <table style="width: 100%; border-collapse: collapse;">
        <tr style="background-color: #2e86c1;">
            <th style="padding: 10px; border: 1px solid #ddd;">Task</th>
            <th style="padding: 10px; border: 1px solid #ddd;">Image</th>
            <th style="padding: 10px; border: 1px solid #ddd;">Date Added</th>
            <th style="padding: 10px; border: 1px solid #ddd;">Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td style="padding: 10px; border: 1px solid #ddd;">{{ task.content }}</a></td>
            {% if "{{task.image}}" is not none %}
            <td style="padding: 10px; border: 1px solid #ddd;">
                <img src="data:image;base64,{{task.image}}" alt="Uploaded Image" style="max-width: 300px;">
            </td>
            {% endif %}
            <td style="padding: 10px; border: 1px solid #ddd;">{{ task.date_created.date() }}</td>
            <td style="padding: 10px; border: 1px solid #ddd;">
                <a href="/delete/{{task.id}}" style="color: #6902d6; text-decoration: none;">Delete the Whole Task</a>
                <br>
                <a href="/deleteimage/{{task.id}}" style="color: #6902d6; text-decoration: none;">Delete Just the Image</a>
                <br>
                <a href="/update/{{task.id}}" style="color: #6902d6; text-decoration: none;">Update the Task</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/index" method="POST" enctype="multipart/form-data">
            <input type="text" name="content" id="content" placeholder="Enter new task" required>
            <input type="file" name="image" accept="image/*" multiple>
            <input type="submit" value="Add Task">
        </form>
    </div>
   
</div>
<nav>
    <ul>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>
{% endblock %}
