{% extends 'base.html' %}

{% block title %}Task Master{% endblock %}

{% block content %}
<div class="content">
    <h1 class="center-align">Daily TaskMaster</h1>
    {% if tasks|length < 1 %}
    <h4 class="center-align">There are no tasks. Please create one below.</h4>
    {% else %}
    <table class="highlight responsive-table">
        <thead>
            <tr class="teal lighten-2">
                <th>Task</th>
                <th>Image</th>
                <th>Date Added</th>
                <th>Due Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>
                    {% if task_images[task.id]|length > 0 %}
                    <div class="row">
                        {% for image in task_images[task.id] %}
                        <div class="col s12 m4">
                            <img src="data:image;base64,{{ image.image }}" alt="Uploaded Image" class="responsive-img">
                            <br>
                            <a href="/deleteimage/{{image.id}}" class="red-text">Delete Image</a>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    {% if task.deadline is not none %}
                        {{ task.deadline.date() }}
                    {% endif %}
                </td>
                <td>
                    <a href="/delete/{{task.id}}" class="purple-text text-darken-2">Delete the Whole Task</a>
                    <br>
                    <a href="/update/{{task.id}}" class="purple-text text-darken-2">Update the Task</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <div class="row">
        <form action="/index" method="POST" enctype="multipart/form-data" class="col s12">
            <div class="input-field">
                <input type="text" name="content" id="content" required>
                <label for="content">Enter new task</label>
            </div>
            <div class="file-field input-field">
                <div class="btn">
                    <span>Upload Images</span>
                    <input type="file" name="image" accept="image/*" multiple>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload one or more files">
                </div>
            </div>
            <div class="input-field">
                <input type="date" id="deadline" name="date">
                <label for="deadline">Deadline</label>
            </div>
            <button class="btn waves-effect waves-light" type="submit">Add Task</button>
        </form>
    </div>
</div>
<nav>
    <ul class="pagination center-align">
        <li><a href="/logout" class="btn red">Logout</a></li>
    </ul>
</nav>
{% endblock %}
