{% extends 'base.html' %}

{% block head %}
<title>Update Task</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Update Task</h1>

    <table style="width: 30%; border-collapse: collapse;">
        <tr style="background-color: #2e86c1;">
            <th style="padding: 10px; border: 1px solid #ddd;">Task</th>
            <th style="padding: 10px; border: 1px solid #ddd;">Image</th>
        </tr>
        <tr>
            <td style="padding: 10px; border: 1px solid #ddd;">{{ task.content }}</td>
            <td style="padding: 10px; border: 1px solid #ddd;">
                {% if task.image != none %}
                <img src="data:image;base64,{{task.image}}" alt="Uploaded Image" style="max-width: 100%; ">
                {% endif %}
            </td>
        </tr>
    </table>
<form action="/update/{{task.id}}" method="POST" enctype="multipart/form-data">
    <div class="form">
        <input type="text" name="content" id="content" value="{{task.content}}" required>
        <input type="file" name="image" accept="image/*">
        <input type="submit" value="Update">
        </form>
    </div>
</div>
{% endblock %}
